$body-bg-color: #fff;
$default: #707070;
$electric-lime: #D1FC1F;
$orange: #FC521F;
$white: #fff;
$gallery: #EDEDED;
$atlantis: #9BC737;
$hokey-pokey: #C7B529;
$red-damask: #D57234;
$malachite: #13da1f;

$fs-small: 1.5rem; //24px
$fs-med: 2rem; //32px
$fs-headline: 2.625rem; //42px
$fs-letters: 5rem; //80px